body {
  font-family: 'Manjari', sans-serif;
  font-size: 20px;
}

.pokeball-icon {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

h1 {
  color: #fff;
  background-color: #4dad5b;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.pokemon-list {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  color: #fff;
  background-color: #30a7d7;
  border-radius: 10px;
}
