/* Colors used
font-color h1: #2D3657;
background-color body: #eaeaee;
background-color buttons: #feffca;

*/


body {
  font-family: 'Manjari', sans-serif;
  font-size: 20px;
  background-color: #eaeaee;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  border-bottom: 0.5px solid;
  border-color: #2D3657;
  margin-top: 15px;
}

.pokeball-icon {
  height: 70px;
  width: 70px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  *margin-left: 4px;*
  margin-right: 2px;
}

h1 {
  color: #2D3657;
  padding: 18px;
  border-radius: 10px;
  flex-grow: 2;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.name-button {
  margin: 2px;
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 2px;
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  color: #2D3657;
  background-color: #feffca;
}
