/* Colors used

background-color icon: #e53e00;
background-color h1: #4dad5b;
font-color h1 and polemon-list: #fff;
background-color pokemon-list: #30a7d7;

*/


body {
  font-family: 'Manjari', sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.pokeball-icon {
  height: 70px;
  width: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  background-color: #e53e00;
  border-radius: 10px;
}

h1 {
  color: #fff;
  background-color: #4dad5b;
  padding: 18px;
  border-radius: 10px;
  flex-grow: 2;
}
